@charset "UTF-8";
/*↓↓↓ ESTILOS GENERALES ↓↓↓*/
* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box; }

/*↑↑↑ ESTILOS GENERALES ↑↑↑*/
/*↓↓↓ INICIO FUENTE ↓↓↓*/
@font-face {
  font-family: fuentelotr;
  src: url(Fuente/fuente.ttf); }

/*↑↑↑ FIN FUENTE ↑↑↑*/
/*↓↓↓ VARIABLES ↓↓↓*/
/*↑↑↑ VARIABLES ↑↑↑*/
/*↓↓↓ INDEX ↓↓↓*/
body {
  background-color: black; }
  body header .navbar {
    height: 100px;
    background-color: black;
    background-image: linear-gradient(black, gray); }
    body header .navbar .container-fluid {
      height: 60px;
      padding-right: 20px;
      padding-left: 20px; }
      body header .navbar .container-fluid a img {
        width: 55%; }
    body header .navbar div a img {
      width: 135px;
      border-radius: 20%; }
  body header .banner {
    width: 84,5rem; }
    body header .banner video {
      margin: 0;
      padding: 5px;
      box-sizing: border-box;
      width: 100%;
      height: 80%;
      top: 0%; }
  body main .contenedor .articuloUno {
    border-top: 4px solid #c90;
    border-right: 4px solid #c90;
    border-left: 4px solid #c90;
    border-bottom: 2px solid #c90; }
    body main .contenedor .articuloUno .tituloUno {
      font-size: 30px;
      color: white;
      text-align: center;
      padding: 5px; }
    body main .contenedor .articuloUno .imgUno {
      width: 100%;
      padding: 10px; }
    body main .contenedor .articuloUno p {
      color: white;
      font-size: 20px;
      padding: 15px;
      border-top: 4px solid #c90; }
  body main .contenedor .articuloDos {
    border-top: 2px solid #c90;
    border-right: 4px solid #c90;
    border-left: 4px solid #c90;
    border-bottom: 4px solid #c90; }
    body main .contenedor .articuloDos .tituloDos {
      font-size: 25px;
      color: white;
      padding: 5px;
      text-align: center; }
    body main .contenedor .articuloDos .imgDos {
      width: 100%;
      padding: 10px; }
    body main .contenedor .articuloDos p {
      color: white;
      padding: 15px;
      font-size: 20px;
      border-top: 4px solid #c90; }
  body main .contenedor .artTres {
    width: 100%; }
    body main .contenedor .artTres h3 {
      text-align: center; }
    body main .contenedor .artTres .row {
      display: flex;
      width: 100%;
      margin: 0%; }
      body main .contenedor .artTres .row .col {
        display: flex;
        justify-content: center;
        padding: 10px;
        margin: 0%; }
        body main .contenedor .artTres .row .col p {
          display: flex;
          flex-wrap: wrap;
          text-align: start; }
      body main .contenedor .artTres .row .col {
        display: flex;
        justify-content: center;
        margin: 0; }
  body .separador {
    background: url(../separador.png);
    top: 0%;
    padding-top: 90px;
    margin: 0%; }
    body .separador footer {
      background-color: rgba 0, 0, 0, 0.623;
      background-color: black;
      background-image: linear-gradient rgba 0, 0, 0, 0.623, black;
      height: 80px;
      width: 100%; }
      body .separador footer .redes {
        height: auto;
        width: 100%; }
        body .separador footer .redes ul {
          display: flex;
          justify-content: flex-end; }
          body .separador footer .redes ul:hover a {
            filter: blur(1px); }
          body .separador footer .redes ul li {
            display: inline-block;
            justify-content: end;
            margin: 0 5px;
            width: 50px;
            height: 50px;
            text-align: center; }
            body .separador footer .redes ul li a {
              display: block;
              padding: 0 10px;
              background: #333;
              color: white;
              height: 50px;
              font-size: 30px;
              box-shadow: 0 3px 5px 0px rgba(0, 0, 0, 0.2);
              transition: .2s;
              border: 1px white solid;
              border-radius: 20px; }
              body .separador footer .redes ul li a:hover {
                transform: translate(-3px) scale(1.3);
                box-shadow: 0 5px 5px 0px rgba(0, 0, 0, 0.2);
                filter: none; }
            body .separador footer .redes ul li .facebook:hover {
              background-color: #3b5998; }
            body .separador footer .redes ul li .instagram:hover {
              background: radial-gradient(circle farthest-corner at 35% 90%, #fec564, transparent 50%), radial-gradient(circle farthest-corner at 0 140%, #fec564, transparent 50%), radial-gradient(ellipse farthest-corner at 0 -25%, #5258cf, transparent 50%), radial-gradient(ellipse farthest-corner at 20% -50%, #5258cf, transparent 50%), radial-gradient(ellipse farthest-corner at 100% 0, #893dc2, transparent 50%), radial-gradient(ellipse farthest-corner at 60% -20%, #893dc2, transparent 50%), radial-gradient(ellipse farthest-corner at 100% 100%, #d9317a, transparent), linear-gradient(#6559ca, #bc318f 30%, #e33f5f 50%, #f77638 70%, #fec66d 100%); }
            body .separador footer .redes ul li .twitter:hover {
              background-color: #00acee; }
            body .separador footer .redes ul li .linkedin:hover {
              background-color: #0e76a8; }
          body .separador footer .redes ul .copy p {
            color: white;
            font-size: 20px;
            text-align: start;
            justify-content: center;
            align-items: center;
            align-content: center; }

/*↑↑↑ INDEX ↑↑↑*/
/*↓↓↓ PELICULAS ↓↓↓*/
.contenedorPeliculas .tituloPeliculas {
  font-size: 20px;
  text-align: center;
  color: white; }

.contenedorPeliculas ol {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around; }
  .contenedorPeliculas ol li {
    list-style: decimal;
    color: white;
    font-size: 30px; }
    .contenedorPeliculas ol li a {
      font-family: fuentelotr !important;
      text-decoration: none;
      font-size: 30px;
      font-weight: normal;
      margin-left: 10px;
      background-color: rgba(255, 255, 255, 0.02); }

.contenedorPeliculas .slide {
  margin: auto;
  width: 85%;
  border-top: 4px solid #c90;
  border-right: 4px solid #c90;
  border-bottom: 4px solid #c90;
  border-left: 4px solid #c90; }
  .contenedorPeliculas .slide .carousel-inner .carousel-item img {
    height: 100%; }

#parrafoPeliculas {
  color: white;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  background-color: rgba(255, 255, 255, 0.089);
  margin-top: 10px;
  border-top: 4px solid #c90;
  border-right: 4px solid #c90;
  border-bottom: 4px solid #c90;
  border-left: 4px solid #c90; }

/*↑↑↑ PELICULAS ↑↑↑*/
/*↓↓↓ ESTILO TRILOGIA ↓↓↓*/
.contenedorPelis h1 {
  text-align: center; }

.contenedorPelis .row {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  margin: 0%;
  padding: 10px; }
  .contenedorPelis .row .col-9 {
    display: flex;
    justify-content: center;
    padding: 3px;
    width: 75%; }
    .contenedorPelis .row .col-9 iframe {
      width: 95%; }
  .contenedorPelis .row .col-3 {
    display: flex;
    padding: 0;
    width: 25%; }
    .contenedorPelis .row .col-3 .portada {
      width: 100%; }

.contenedorPelis p {
  text-align: center;
  padding: 5px; }

/*↑↑↑ ESTILO TRILOGIA ↑↑↑*/
/*↓↓↓ GALERIA ↓↓↓*/
.contenedorGaleria h1 {
  font-size: 50px;
  text-transform: uppercase;
  letter-spacing: 5px;
  text-align: center; }

.contenedorGaleria .row .contenedorFlex .tituloGaleria {
  color: white;
  text-align: center; }

.contenedorGaleria .row .galeria .contenedorFlex {
  margin-bottom: 15px; }
  .contenedorGaleria .row .galeria .contenedorFlex .material-placeholder img {
    box-shadow: 0 8px 10px -4px rgba(0, 0, 0, 0.6);
    border-radius: 15px; }
    .contenedorGaleria .row .galeria .contenedorFlex .material-placeholder img .materialbox-caption {
      bottom: 30px;
      right: 0;
      width: 40%;
      height: auto;
      padding: 10px;
      margin: auto;
      background: #000;
      box-shadow: 5px 5px #fff;
      font-size: 20px;
      color: #fff;
      line-height: 28px; }

@media screen and (max-width: 600px) {
  .materialbox-caption {
    width: 90%; } }

@media screen and (max-width: 992px) {
  .materialbox-caption {
    width: 70%; } }

/*↑↑↑ GALERIA ↑↑↑*/
/*↓↓↓ PERSONAJES ↓↓↓*/
.contenedorPersonajes {
  background: black; }
  .contenedorPersonajes table h1 {
    color: white; }
  .contenedorPersonajes table tr td {
    border: 2px black solid;
    color: white;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: lighter;
    text-align: center; }
    .contenedorPersonajes table tr td .zoom:hover {
      transform: scale(1.1); }

/*↑↑↑ PERSONAJES ↑↑↑*/
